
.logo{
  height: 90px;
  width: 90px;
  position: relative;
  display: inline;
  vertical-align: middle;
  padding: 1%;
}

.div_logo{
  background-color: rgba(94, 166, 241, 0.5);
}

.texto_logo{
  font-family: apple-system;
  color: rgb(0, 141, 255);

}

/*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/


.usuario{
  font-family: fantasy;
  color: rgb(0, 141, 255);
}
