{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href={% static "css/css_historicos/estilos_body.css" %}>
<link rel="stylesheet" href={% static "css/css_historicos/botones_acciones.css" %}>
<link rel="stylesheet" href={% static "css/css_historicos/estilos_form_busqueda_por_fecha.css" %}>
<link rel="stylesheet" href={% static "css/estilos_home.css" %}>
<link rel="stylesheet" href={% static "css/tabla_fija.css" %}>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/js_historicos/ajax_historico_personas_creadas.js' %}"></script>
{% endblock %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src={% static "img/logo_p.gif" %} width="30" height="30" class="d-inline-block align-top" alt="Logo-mi-pequeña-ciega">
    <strong>Cecilia</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={% url 'home' %}><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'listar_personas' %}><strong>Listado general</strong></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Historicos</strong>
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item bg-primary" href={% url 'listar_historico_personas_creadas' %}><strong class="dropdown_hisotricos">Personas creadas</strong></a>
          <a class="dropdown-item bg-primary " href={% url 'listar_historico_personas_eliminadas' %}><strong class="dropdown_hisotricos">Personas Eliminadas</strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item bg-primary" href={% url 'listar_historico_aplicaciones_creadas' %}><strong class="dropdown_hisotricos">Aplicaciones creadas</strong></a>
          <a class="dropdown-item bg-primary" href={% url 'listar_historico_aplicaciones_eliminadas' %}><strong class="dropdown_hisotricos">Aplicaciones eliminadas</strong></a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="navbar-text">
        <strong>Gestora de entidades</strong>
        <h7 class="usuario"><strong>Bienvenid@ {{usuario}}!</strong></h7>
      </span>
    </form>
  </div>
</nav>
<br>

<div class="container-fluid">
  <input type="search" class="boton_busqueda_general_historico_personas_creadas form-control" id="boton_busqueda_general_historico_personas_creadas" placeholder="Busqueda general" data-toggle="tooltip" title="Aqui podras buscar en la tahla de historicos por cualquier parametro, ya que se busca por cualquier campo de la misma">
</div>
<br>
<div class="container-fluid">
  <fieldset id="formulario_busqueda_por_fecha">
    <legend class="bg-primary legend-buscador-por-fecha" data-toggle="tooltip" title="En este formulario podras buscar por fechas">Buscador por fecha</legend>
    <form method="get" id="fechas_inicio_fin_historico_personas_creadas" class="form-inline" data-toggle="tooltip" title="Formulario de busqueda por fechas">
      <div class="form-group">
        <div class="input-group">
          <a href="#fecha_inicio" class="btn btn-primary" data-toggle="tooltip" title="Si presionas aqui, podras colocar la fecha inicio con el teclado">Inicio</a>
          <input type="date" id="fecha_inicio" class="form-control" data-toggle="tooltip" title="Parametro de fecha inicio">
        </div>
      </div>
      <br><br>
      <a href="#fecha_fin" class="btn btn-primary" data-toggle="tooltip" title="Si presionas aqui, podras colocar la fecha fin con el teclado">Fin</a>
      <input type="date" id="fecha_fin" class="form-control" data-toggle="tooltip" title="Parametro de fecha fin">
      <input type="submit" value="Buscar" class="btn btn-info" data-toggle="tooltip" title="Si presionas aqui, buscara los registros con la fecha parametrisadas">
      <input type="button" id="limpiar_fechas_historico_personas_creadas" value="Limpiar" class="btn btn-warning" data-toggle="tooltip" title="Si presionas aqui, limpiara las fechas que estan en este momento para que quede limpio el formulario">
    </form>
  </fieldset>
</div>
<br>
<div class="table-responsive">
  <div class="tabla_entera container-fluid">
    <table class="tabla_historico table table-striped table-bordered table-hover table-fixed tabla_listado">
      <thead class="letra_blanca">
        <tr class="bg-primary clearfix visible-md-block tr_principal"><th colspan="4" id="titulo_tabla_personas_creadas" class="col-md-11">Registro de personas creadas</th><th class="col-md-1 th_acciones"><a href="#" class="boton_accion_exportar_excel" id="exportar_excel"><img src={% static "img/botones/exportar_excel.gif" %} alt="exportar_a_excel" name="boton_accion" id="exportar_excel_historico_personas_creadas" class="boton_accion_exportar_excel" data-toggle="tooltip" title="Para exportar a excel"></a><a href={% url 'home' %}><img src="{% static "img/botones/retroceder.gif" %}" alt="retroceder" class="retroceder" data-toggle="tooltip" title="Para retroceder a la pagina anterior"></a></th></tr>
        <th class="col-md-2 bg-primary">Hora de creacion</th>
        <th class="col-md-1 bg-primary">Centro</th>
        <th class="col-md-1 bg-primary">Ubicacion</th>
        <th class="col-md-2 bg-primary">Persona</th>
        <th class="col-md-4 bg-primary">Aplicaciones</th>
        <th class="col-md-2 bg-primary">Cargo</th>
      </thead>
      <tbody id="tbody_historico_personas_creadas">
          {% for persona in personas %}
            <tr class="clearfix visible-md-block">
              <td class="col-md-2">
                {{persona.hora}}
              </td>
              <td class="col-md-1">
                {{persona.centro}}
              </td>
              <td class="col-md-1">
                {{persona.ubicacion}}
              </td>
              <td class="col-md-2">
                {{persona.persona}}
              </td>
              <td class="col-md-4">
                {{persona.aplicaciones}}
              </td>
              <td class="col-md-2">
                {{persona.cargo}}
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  {% endblock %}
